FRAMEIO_SIGNING_SECRET=
ADOBE_CLIENT_ID=
ADOBE_CLIENT_SECRET=
# generated after oauth/callback URL
ADOBE_REFRESH_TOKEN=
# fetched from accounts
FRAMEIO_ACCOUNT_ID=
# set to trigger oauth endpoint flow
OAUTH_CALLBACK_ENABLED=false

# --- Airtable integration ---
AIRTABLE_PAT=
AIRTABLE_BASE_ID=
